<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Restaurant Rating Prediction</title>

</head>
<body>
<h2>Predictive analysis(Restaurant Rating) </h2>
<h3>Online Order</h3><br><select name="online_order" id="first" required="required">
    <option value="Yes">Yes</option>
    <option value="No">No</option>

    <h3>Book Table</h3><select name="book_table" id="second" required="required">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
</select>
    <h3>Votes</h3><br><input id="third" name="name" required="required">
    <div class="row">
        <div class="col-md-12">

            <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
                <option value="" disabled selected>What all this restaurant is about</option>
                <option value="1">Casual Dining</option>
                <option value="2">Cafe</option>
                <option value="3">Quick Bites</option>
                <option value="4">Delivery</option>
                <option value="5">Mess</option>
                <option value="6">Dessert Parlor</option>
                <option value="7">Bakery</option>
                <option value="8">Pub</option>
                <option value="9">Takeaway</option>
                <option value="10">Fine Dining</option>
                <option value="11">Beverage Shop</option>
                <option value="12">Sweet Shop</option>
                <option value="13">Bar</option>
                <option value="14">Confectionery</option>
                <option value="15">Kiosk</option>
                <option value="16">Food Truck</option>


            </select>
            <label class="mdb-main-label">Restaurant Type</label>
            <button class="btn-save btn btn-primary btn-sm">Save</button>

        </div>
    </div>
    <!--     Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>